*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(216, 216, 28); */
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 0.5rem;
    margin-inline: 1em;
}

#navMenu {
    display: flex;
    gap: 1.5rem;
    font-size: large;
}

form > button {
    background-color: rgb(255, 203, 59);
    border: 0px yellow solid;
    padding: 0.7em;
    border-radius: 0.7em;
}

form > input {
    /* background-color: rgb(255, 203, 59); */
    padding: 0.7em;
    border-radius: 0.7em;
}

.menuicon {
    color: rgb(255, 203, 59);
    font-size: 1.5em;
    display: none;
}

#navcart {
    color: rgb(255, 203, 59);
    font-size: 1.3em;
}

main {
    width: 100%;
    height: 110vh;
    background-image: url("../media resourses/ChatGPT\ Image\ Aug\ 28\,\ 2025\,\ 05_36_29\ AM.png");
    background-size:  100%;
    background-repeat: no-repeat;
}

.herotxt {
    padding-top: 3.0em;
    padding-left: 2.0em;
    font-size: 4em;
    font-weight: bolder;
}

.herobtn {
    margin-top: 3.5em;
    margin-left: 13em;
    font-size: 1.3em;
    padding: 0.9rem;
    border-radius: 1em;
    background-color: black;
    color: white;
}

.btn {
    background-color: rgb(255, 203, 59);
    border: none;
    padding: 0.7em 1.5em;
    border-radius: 0.7em;
    color: black;
    cursor: pointer;
    margin-block: 10px;
}

.herobtn:hover {
    background-color: rgb(255, 203, 59);
    color: black;
    cursor: pointer;
}

section > h2 {
    margin-left: 1rem;
    font-size: 2.5em;
    margin-bottom: 0.3em;
}

.featuredproducts {
    max-width: 1440px;
    margin-inline: 1em auto;
    margin-top: 2em;
}

.products-carousel {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2em;
    padding-inline: 2%;
    width: 100%;
}

.productcontainer{
  width: 280px; 
  border: 2px solid black;
  height: 400px;
}

.productcontainer:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.btn {
    background-color: rgb(255, 203, 59);
    border: none;
    padding: 0.7em 1.5em;
    border-radius: 0.7em;
    color: black;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.product { 
    text-align: center;
    width: 100%
}

.categories {
    margin-top: 2em;
    max-width: 1440px;   
    margin-inline: 1em auto;
}

.categoriescarousel {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2em;
    padding-inline: 2%;
    width: 100%;
}

/* .categoriescarousel::-webkit-scrollbar {
    display: none;
} */

.categorycontainer{
    width: 280px;
    border: 2px solid black;
    height: 330px;
   
}


.categoryproduct {
    text-align: center;
    width: 100%
}

footer {
    background-color: rgb(235, 223, 223);
    color: black;
    display: flex;
    gap: 6em;
    padding: 2em;
    margin-top: 3em;
}

.leftfoot {
    max-width: 58%;
    gap: 1em; 
    display: flex;
    flex-direction: column;
}

.rightfoot {
    max-width: 40%;
    gap: 1em;
    display: flex;
    flex-direction: column;
}

ul > p {
    color: #000;
}

li {
    list-style-type: none;
    margin: 0.5em 0;
}

.about-section {
    background-color: black;
    color: rgb(255, 203, 59);
    border: 4px solid white;
    padding: 1.5em;
    border-radius: 2em;
}

.payment-section {
    background-color: rgb(255, 203, 59);
    border: 4px solid white;
    padding: 1.5em;
    border-radius: 2em;
}

.review-section {
    background-color: rgb(255, 203, 59);
    border: 4px solid white;
    padding: 1.5em;
    border-radius: 2em;
}

.connect-section {
    background-color: black;
    color: rgb(255, 203, 59);
    border: 4px solid white;
    padding: 1.5em;
    border-radius: 2em;
}

div > h2 {
    margin-bottom: 0.5em;
}

div > a {
    color: rgb(255, 203, 59); 
}

.smicon {
    margin-top: 0.3em;
    margin-right: 1em;
    font-size: 1.2em;
}






@media (max-width: 1150px) {
    .herotxt {
        font-size: 3.5em;
        padding-top: 3.8em;
    }

    .herobtn {
        margin-left: 9.5em;
    }

    .products-carousel {
        gap: 1.5em;
        grid-template-columns: auto auto auto;
        padding-inline: 3%;
        /* margin: 1em; */
}

    .productcontainer{
        width: 300px; 
        height: 420px;
    }
    
    .categoriescarousel {
        gap: 1.5em;
        grid-template-columns: auto auto auto;
        /* margin: 1em; */
        padding-inline: 3%;
    }

    .categorycontainer{
        width: 300px;
        height: 350px;
    }

    .about-section {
        width: 80%;
    }

    .payment-section {
        width: 80%;
    }

    .review-section {
        margin-left: -140px;
    }

    .connect-section {
        margin-left: -140px;
        line-height: 1.7em;
}
}








@media (max-width: 950px) {

    main {
        height: 60vh;
    }

    .herotxt {
        font-size: 3.5em;
        padding-top: 2.9em;
        padding-left: 1em;
    }

    .herobtn {
        margin-left: 6em;
        margin-top: 2em;
    }

    .products-carousel {
        gap: 1.5em;
        grid-template-columns: auto auto auto;
        padding-inline: 2%;
    }

    .productcontainer{
        width: 250px; 
        height: 380px;
    }

    .categoriescarousel {
        gap: 1.5em;
        grid-template-columns: auto auto auto;
        padding-inline: 2%;
    }

    .categorycontainer{
        width: 250px;
        height: 300px;
    }

    footer {
        gap: 3em;

    }

    .about-section {
        width: 53vw;
        line-height: 1.2em;
        word-spacing: 0.1emm;
    }

    .payment-section {
        width:35vw;
        line-height: 1.2em;
        word-spacing: 0.1em;
        font-size: 1.1em;
    }

    .review-section {
        width: 37vw;
        margin-left: -20px;
        font-size: 1.1;
    }

    .connect-section {
        width: 55vw;
        margin-left: -170px;
        line-height: 1.7em;  
}
}





@media (max-width: 850px) {
    
body {
    background-color: white;
    max-width: 100vw;
}

nav {
    background-color: white
}

#navMenu {
    flex-direction: row;
    gap: 1em;
    font-size: medium;
}

main {
    height: 50vh;
}

.herotxt {
    font-size: 2.5rem;
    padding-left: 3.5rem;
    padding-top: 10rem;
}

.herobtn {
    margin-left: 7rem;
    margin-top: 2.5rem;
    font-size: 1rem;
    padding: 0.7em;
}

.featuredproducts {
    margin: 0.5em;
    max-width: 100vw;
}

.products-carousel {
    gap: 1em;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-inline: 0%;

}

.productcontainer{
        width: 250px; 
        height: 400px;
    }

.product {
    width: 100%;
    padding: 0.5em;
}

.categories {
    margin: 0.5em;
    max-width: 100vw;
}

.categoriescarousel {
    gap: 1em;
    margin-inline: 0%;
    /* margin-left: 0px; */
}
.categorycontainer{
        width: 250px;
        height: 300px;
    }

.categoryproduct {
    width: 100%;
    padding: 0.5em;
}

footer {
    flex-direction: column;
    gap: 2em;
}

.leftfoot {
    max-width: 100%;
}

.rightfoot {
    max-width: 100%;
}

.about-section {
    background-color: black;
    color: rgb(255, 203, 59);
    border: 4px solid white;
    padding: 1.5em;
    border-radius: 2em;
    width: 100%;
}

.payment-section {
    background-color: rgb(255, 203, 59);
    border: 4px solid white;
    padding: 1.5em;
    border-radius: 2em;
    width: 100%;
}

.review-section {
    background-color: black;
    color: rgb(255, 203, 59);
    border: 4px solid white;
    padding: 1.5em;
    border-radius: 2em;
    width: 100%;
    margin-left: 0px;
}

.connect-section {
    background-color: rgb(255, 203, 59);
    color: #000;
    border: 4px solid white;
    padding: 1.5em;
    border-radius: 2em;
    width: 100%;
    margin-left: 0px;
}

ul > p {
    color: rgb(255, 203, 59);
}

div > a {
    color: black
}
}






@media (max-width: 770px) {

    .featuredproducts {
        margin-block: 3em;
    }

    section > h2 {
        font-size: 3em;
        margin-bottom: 0.5em;
    }

    .products-carousel {
        gap: 2em;
        display: grid;
        grid-template-columns: auto auto;
    }

    .productcontainer{
        width: 340px; 
        height: 450px; 
    }
    
    .product {
        padding: 0.5em;
    }
    
    .categoriescarousel {
        gap: 2em;
        display: grid;
        grid-template-columns: auto auto;
    }

    .categorycontainer{
        width: 340px;
        height: 350px;
    }
    
    .categoryproduct {
        padding: 0.5em;
    }
}





@media (max-width: 450px) {
    

body {
    background-color: white;
    max-width: 100vw;
    margin: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: white
}

#navMenu {
    display: none;
}

.navsearch {
    display: none;
}

#navlogo {
    width: 4rem;
    height: 4rem;
    border-radius: 20rem;
}

.menuicon {
    color: rgb(255, 203, 59);
    font-size: 1.5em;
    display: block;
}

#navcart {
    color: rgb(255, 203, 59);
    font-size: 1.3em;
}

main {
    height: 70vh;
    width: 100%;
    margin: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 0px;
}

.herotxt {
    font-size: 1.7rem;
    padding-left: 2rem;
    padding-top: 10.5rem;
}

.herobtn {
    margin-left: 3rem;
    margin-top: 1.5rem;
    font-size: 0.9rem;
    padding: 0.8em;
}

section > h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}

.featuredproducts {
    max-width: 100vw;
    margin-top: 3em;
}

.products-carousel {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    padding-inline: auto;
    text-align: center;
}

.productcontainer{
    width: 370px;
    height: 550px;
    padding-left: 0px;
    padding-right: 0px;
}

.categoriescarousel {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: auto;
}

.categorycontainer{
    padding-left: 0px;
    padding-right: 0px;
    width: 370px;
    height: 500px;
}

footer {
        gap: 1em;
        padding-inline: 0.6em;
    }
}





@media (max-width: 375px) {
    main {
    height: 70vh;
    width: 100%;
    margin: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 0px;
}

.herotxt {
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-top: 8.5rem;
}

.herobtn {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    font-size: 0.9rem;
    padding: 0.8em;
}

.productcontainer{
    width: 330px;
    padding-left: 0px;
    padding-right: 0px;
    height: 450px;
}

.categorycontainer{
    width: 330px;
    padding-left: 0px;
    padding-right: 0px;
    height: 400px;
}
}







@media (max-width: 320px) {

    #navlogo {
        width: 30px;
        height: 30px;
        border-radius: 20rem;
    }

    .herotxt {
        font-size: 1.1rem;
        padding-left: 1.5rem;
        padding-top: 4rem;
    }

    .herobtn {
        margin-left: 2rem;
        margin-top: 1rem;
        font-size: 0.6rem;
        padding: 0.5em;
    }

    .productcontainer{
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        margin-inline: 5%;
        height: 400px;
    }

    .product {
        width: 100%;
    }

    .categorycontainer{
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        margin-inline: 5%;
        height: 350px;
    }

    .categoryproduct {
        width: 100%;
    }
}